*{
    margin:0px;
    padding:0px;
box-sizing: border-box;
    font-family:arial;
}
#navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}/*amazon icon*/
#nav-logo{
    height: 60px;
    width:113px;
    }
#nav-logo>a>img:hover,#nav-address:hover,#nav-signin:hover,
#nav-cart:hover,#nav-returns:hover,
#panel-all-option:hover,#panel-options>p:hover,#panel-right:hover{
   
    border:2px solid white;
}
#nav-logo>a>img{ 
    border:2px solid #0f1111;
    
    height: 50px;
    width:100%;
}/* location-icon*/
#nav-address{
    border: 1px solid #0f1111;
    height: 50px;
    margin: 5px 2px 5px 0px;
    padding:0px 9px ;
 
    width:88.64px;
    }
#nav-location-icon{
    
    height: 20px;
    width:15px;
   display: flex;
    align-items: center;
 
}

#nav-address-deliver{
    font-size: 12px;
    color:#cccccc;
    margin-left: 15px;
    
}
#nav-address-india{
    font-size: 15px;
    margin-left: 3px;

}
#nav-search{
    border: 1px solid #0f1111;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height:40px;
    width:675.5px;
   
    color:#0F1111;
    font:14px;
}

#All{
    background-color: #f3f3f3;
    color:#0F1111;

    padding: 0px 0px 0px 5px;/* we can also adjust by text-align center 
    but in the official website they gave the padding*/
    height:40px;
    width:52px;
    border: none;

display: flex;
justify-content: center;
align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#menu>ul>li{
   list-style-type: none;
   color: white;
    
}
#menu>ul>li>a{
    color: black;
    text-decoration: none;
    display:block;
    width: 100%;
}
#menu>ul>li{
    padding: 0px 0px 5px 0px;
}
#menu>ul>li>a:hover{
    background-color:#0066ff;
    width:100%;
}
#menu{
    position: absolute;
    display: none;
    width:200px;
    background-color: white;
    border:2px solid white;
    border-radius: 5px;
    height: fit-content;
    z-index: 200;
    }
#menu>li>a{
    text-decoration: none;

}
#nav-search>input{
    background-color: #FFFFFF;
    width:100%;
    height:40px;
    border:none;
    font-size: 1rem;
   
}
#nav-search-icon{
    margin-top:0.5px;
    height:40px;
    width:45px;
    background-color: #febd68;
    border:none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
#nav-signin{
    border: 1px solid #0f1111;
    position: relative;
top: 10px;
 height: auto;
 
   
}

#nav-returns{
    border: 1px solid #0f1111;
}
span{
    font-size:0.7rem;
    margin-bottom: 0;
}
.nav-second{
    font-size:0.85rem;
    font-weight: 700;
    margin-top: 5px;
}
#nav-cart>i{
    font-size: 30px;
}
#navcart{
    font-size: 0.85rem;
    font-weight: 700;
    border: 1px solid #0f1111;
}
.panel{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
#panel-options>p{
    border:1px solid #222f3d;
    display:inline;
    margin-left: 10px;
}
#panel-options{
    width: 70%;
    font-size:0.85rem
}
#panel-right{
    border:1px solid #222f3d;
    font-size:0.85;
    font-weight:700;
}
#panel-all-option{
    border:1px solid #222f3d;
}
#hero-section{
   
    background-size:cover ;
    height:600px;
}
#heroimg{
  display:flex;
  flex-wrap:wrap;
}
#hero-msg{
    position:absolute;
    top:300px;
    margin:0px;
    left:30px;
    border:10px solid white;
    background-color: white;
    width: 90%;
    
    color:#0f1111;
    font-size: 0.85rem;
    height: fit-content
    
    
    
}
#hero-msg>p>a{
    color:#007185;
    text-decoration: none;
    padding:2px;

}
#hero-msg>p>a:hover{
    text-decoration: underline;
    color:orange;
}
#background-color{
    height:600px;
    background-image:linear-gradient(#d2ffcf,#dedede);
    opacity: 0.5;
}
/*boxes*/
#boxes{
    position:absolute;

top:400px;
    display: flex;
    justify-content: space-evenly;
    backface-visibility: 0.5;
flex-wrap: wrap;
    height:800px;
    align-content: flex-start;
    row-gap: 30px;
    

}
.box{

    width: 23%;
    border: 2px solid black;
    background-color: white;



}
.box-img{
    height:20rem;
    background-size: cover;
    margin: 0px 15px 0px 15px;

}
.box>h2{
    margin: 0px 0px 10px;
    padding: 0px 20px;
}
.box>a{
  display: block;
    text-decoration: none;
    color: #007185;
    font-size: 13px;
    margin: 13px 0px 0px 13px;
    font-weight: 700;
  
}
.box>a:hover{
    text-decoration: underline;
    color: orange;
}

#footer-panel-1{
    height:50px;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.85rem;
    margin-top: 15px;
   
    
}

#footer-panel-2{
    height:300px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
ul{
    margin-top:20px;

}
ul>a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    margin: 10px;
}
ul>a:hover{
    text-decoration: underline;
}

#footer-panel-3{
   
    height: 70px;
    background-color: #222f3d;
    color: white;
    border-top:0.5px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

   }

   #footer-panel-3>a>img{
    height: 50px;
    width: 113px;
   }
  .footer-3-links{
    height:40px;
    width: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
   
   }
   .footer-3-links:hover{
    border:2px solid white;
   }
#footer-panel-4{  
   
    height: 80px;
    background-color: #0F1111;
    color: white;
    text-align: center;
   
}

.pages>a{
    display: inline-block;
    margin:20px 20px 10px 0px;
    color: white;
    text-decoration: none;
    font-size: 12px;
  
}
.pages>a:hover{
    text-decoration: underline;
}


