*{
    padding:0px;
    margin:0px;
 
    font-family: "arial";
}
html{
    font-size: 62.5%;
}
body{
    background-image: url(temp\ image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height:65rem;
    display: flex;
    justify-content: center;

    align-content: center;
    backface-visibility: visible;

}
.card{

align-self: center;
width:30rem;
height: 30rem;
flex-direction: column;
border: 1px solid black;
display: flex;
background: linear-gradient(60deg,white,black);
border-radius: 2rem;
box-shadow: 2px  5px 10px 10px grey;
}
#celcius,#kelvin,#fahrenheit{
    display: block;
    padding:0.5rem;
    background-color: white;
    margin:2rem;
    border-radius: 1rem;
    appearance: none;
   
}
input{
    border:0;
    outline:0;
}
.btn{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
button{
    flex:1;
    height:3rem;
    margin: 0 1rem 0 1rem;
    border: 0;
    outline: 0;
    border-radius: 0.5rem;
    color:white;
    background-color: grey;
    box-shadow: 1px 1px 3px 4px black;
    font-weight: bolder;
    transition-duration: 200ms;
}
button:hover{
height:3.2rem;
flex-grow:1.1;
}